{% extends 'TutorialBundle::layout.html.twig' %}

{% block body %}

<a href="{{ path('product_shopping_cart', { 'id': product.id }) }}">Add to shopping cart</a>
{{ product.name }}
{{ product.cost }}
{{ product.description }}

{% endblock %}