<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Tutorial Admin - {% block title %}Welcome{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="logout"><a href="{{ path('admin_logout') }}">Logout</a></div>
        <div id="menu">
            <a href="{{ path('product_catalog') }}">Product Catalog</a>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>